<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Name"
            ngModel
            required
            #name
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            name="amount"
            placeholder="Amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="f.touched && f.invalid">
        Please enter the correct name and amount
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" [disabled]="f.invalid">
            {{ !editMode ? "Add" : "Update" }}
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button class="btn btn-danger" type="button" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
